In [1]:
import pandas as pd
import numpy as np

In [2]:
old_results = pd.read_csv('/Users/emiliolr/Google Drive/My Drive/LIFE/hunting_analysis/final_results/cross_val_results_all_metrics.csv')
new_results = pd.read_csv('/Users/emiliolr/Desktop/life-hunting/testing_governance/cross_val_results_all_metrics.csv')

In [3]:
block = 'spatial'
old_results[(old_results['block_type'] == block) & (old_results['model_name'].str.startswith('rf_hurdle')) & (~old_results['metric'].str.contains('mean'))]

,metric,mean,standard_deviation,model_name,dataset,date,num_folds,block_type,spatial_spacing,group_col
74,balanced_accuracy_DI-0.05,0.282799,0.016713,rf_hurdle_2.0mins_rebalance-classes,mammals_recreated,2025-04-09 17:31:51,5,spatial,5.0,NaN
77,median_absolute_error-inf,0.397810,0.038317,rf_hurdle_2.0mins_rebalance-classes,mammals_recreated,2025-04-09 17:31:51,5,spatial,5.0,NaN
78,median_absolute_error-1,0.320840,0.026139,rf_hurdle_2.0mins_rebalance-classes,mammals_recreated,2025-04-09 17:31:51,5,spatial,5.0,NaN
80,median_absolute_percentage_error-0,0.579591,0.064348,rf_hurdle_2.0mins_rebalance-classes,mammals_recreated,2025-04-09 17:31:51,5,spatial,5.0,NaN
81,wasserstein_distance-2,0.190919,0.034221,rf_hurdle_2.0mins_rebalance-classes,mammals_recreated,2025-04-09 17:31:51,5,spatial,5.0,NaN
82,balanced_accuracy_local_extirpation,0.559018,0.021908,rf_hurdle_2.0mins_rebalance-classes,mammals_recreated,2025-04-09 17:31:51,5,spatial,5.0,NaN
83,wasserstein_distance_continuous-2,0.235888,0.034429,rf_hurdle_2.0mins_rebalance-classes,mammals_recreated,2025-04-09 17:31:51,5,spatial,5.0,NaN

In [4]:
new_results[(new_results['block_type'] == block) & (new_results['model_name'].str.contains('PCA')) & (~new_results['metric'].str.contains('mean'))]

,metric,mean,standard_deviation,model_name,dataset,date,num_folds,block_type,spatial_spacing,group_col
50,balanced_accuracy_DI-0.05,0.280573,0.019745,rf_hurdle_2.0mins_rebalance-classes_PCA,mammals_recreated,2025-08-11 17:35:41,5,spatial,5.0,NaN
53,median_absolute_error-inf,0.383489,0.024166,rf_hurdle_2.0mins_rebalance-classes_PCA,mammals_recreated,2025-08-11 17:35:41,5,spatial,5.0,NaN
54,median_absolute_error-1,0.306805,0.022876,rf_hurdle_2.0mins_rebalance-classes_PCA,mammals_recreated,2025-08-11 17:35:41,5,spatial,5.0,NaN
56,median_absolute_percentage_error-0,0.553069,0.080528,rf_hurdle_2.0mins_rebalance-classes_PCA,mammals_recreated,2025-08-11 17:35:41,5,spatial,5.0,NaN
57,wasserstein_distance-2,0.201062,0.088251,rf_hurdle_2.0mins_rebalance-classes_PCA,mammals_recreated,2025-08-11 17:35:41,5,spatial,5.0,NaN
58,balanced_accuracy_local_extirpation,0.546017,0.050560,rf_hurdle_2.0mins_rebalance-classes_PCA,mammals_recreated,2025-08-11 17:35:41,5,spatial,5.0,NaN
59,wasserstein_distance_continuous-2,0.229024,0.063876,rf_hurdle_2.0mins_rebalance-classes_PCA,mammals_recreated,2025-08-11 17:35:41,5,spatial,5.0,NaN

In [17]:
old_tropical_mammals = pd.read_csv('/Users/emiliolr/Google Drive/My Drive/LIFE/datasets/derived_datasets/tropical_species/tropical_mammals_taxonomic_info_w_body_mass.csv')
new_tropical_mammals = pd.read_csv('/Users/emiliolr/Desktop/phd-exploratory-work/results/tropical_species/tropical_mammals_taxonomic_info_w_body_mass.csv')

In [32]:
o = old_tropical_mammals[old_tropical_mammals['is_species']]['iucn_id'].to_list()
n = new_tropical_mammals[new_tropical_mammals['is_species']]['iucn_id'].to_list()

v1 = len(set(o) - set(n))
print('IDs in old but not new:', v1)

v2 = len(set(n) - set(o))
print('IDs in new but not old:', v2)

v3 = len(set(n).intersection(set(o)))
print('IDs shared:', v3)

IDs in old but not new: 15
IDs in new but not old: 75
IDs shared: 3214

In [39]:
old_tropical_mammals[~old_tropical_mammals['iucn_id'].isin(n)]

,iucn_id,scientific_name,class,order,family,synonyms,is_species,combine_match_species,combine_body_mass,combine_bm_match_level
390,135429,saguinus melanoleucus,mammalia,primates,callitrichidae,NaN,True,NaN,495.665,genus
894,14258,mysateles prehensilis,mammalia,rodentia,capromyidae,NaN,True,mysateles prehensilis,1591.600,species
955,14941,nycticebus pygmaeus,mammalia,primates,lorisidae,nycticebus intermedius,True,nycticebus pygmaeus,907.525,species
1228,174391079,erythrocebus patas,mammalia,primates,cercopithecidae,simia patas,True,erythrocebus patas,7660.500,species
1390,19345,rattus marmosurus,mammalia,rodentia,muridae,NaN,True,rattus marmosurus,217.000,species
1495,19758,stenonycteris lanosa,mammalia,chiroptera,pteropodidae,rousettus lanosus,True,rousettus lanosus,103.000,species
1825,2768,berylmys bowersi,mammalia,rodentia,muridae,NaN,True,berylmys bowersi,358.680,species
1859,3036,bradypus torquatus,mammalia,pilosa,bradypodidae,NaN,True,bradypus torquatus,4184.210,species
1878,3415,cabassous unicinctus,mammalia,cingulata,chlamyphoridae,NaN,True,cabassous unicinctus,3987.970,species
1879,3416,cacajao calvus,mammalia,primates,pitheciidae,NaN,True,cacajao calvus,3421.040,species
1985,39948,saguinus imperator,mammalia,primates,callitrichidae,NaN,True,saguinus imperator,482.150,species
2059,40630,crocidura elongata,mammalia,eulipotyphla,soricidae,NaN,True,crocidura elongata,17.800,species
2127,41354,crocidura rhoditis,mammalia,eulipotyphla,soricidae,NaN,True,crocidura rhoditis,14.000,species
2471,45954341,crocidura zaitsevi,mammalia,eulipotyphla,soricidae,NaN,True,crocidura zaitsevi,10.490,genus
2695,6019,cyclopes didactylus,mammalia,pilosa,cyclopedidae,NaN,True,cyclopes didactylus,251.975,species

In [40]:
o = old_tropical_mammals[old_tropical_mammals['combine_bm_match_level'] == 'species']
o = o[['iucn_id', 'combine_body_mass']]
o = o.rename(columns = {'combine_body_mass' : 'old_bm'})

n = new_tropical_mammals[new_tropical_mammals['combine_bm_match_level'] == 'species']
n = n[['iucn_id', 'combine_body_mass']]
n = n.rename(columns = {'combine_body_mass' : 'new_bm'})

m = pd.merge(o, n, how = 'left', on = 'iucn_id')
cond = ((m['old_bm'] != m['new_bm']) & (~m['new_bm'].isna())).sum()
print('Different body mass for species matches (not NA):', cond)

Different body mass for species matches (not NA): 0